@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .data {
    background-color: rgba(38,28,26,255);
    color: white;
    display: flex;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 100px;
    padding-left: 325px;
    padding-top: 20px;
}
ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

ul li a {
    display: flex;
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.left div, .button {
    font-size: 18px;
}

.button, .s3 button {
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 35px;
    padding: 30px;
    gap: 20px;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.right img {
    height: 300px;
    margin-top: -60px;
}

.content {
    margin-bottom: 25px;
}
.content img {
    border-radius: 50%;
    height: 200px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.cast {
    max-width: 200px;
    text-align: center;
}

span {
    color: red;
    text-align: left;
}

.footer {
    color: white;
    background: rgba(38,28,26,255);
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    background: #caccd0;
}
h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.quote p{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.s3 {
    display: flex;
    align-self: center;
    width: 1000px;
    height: 85px;
    margin: 40px;
    color: white;
    background: rgb(86, 55, 24);
    border-radius: 10px;
} 
.s3 p {
    margin: 10px;
    font-size: large;
    margin-left: 20px;
}
.s3 h3 {
    margin: 10px;
    margin-left: 20px;
}
.s3 button {
    margin-top: 24px;
    margin-left: 250px;
}