.header {
    background-color: rgba(38,28,26,255);
}

img {
    background: black;
    height: 200px;
}

.header {
    color: white;
}

.content img {
    border-radius: 50%;
}

.footer {
    color: white;
    background: rgba(38,28,26,255);
}